html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

* {
	scrollbar-width: none;
	font-family: sans-serif;

	-ms-overflow-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

input,
textarea {
	-webkit-user-select: auto;
	user-select: auto;
}

div {
	display: flex;
}
